.popover { max-width: 347px; }
.popover-content .row { margin-left: 0; }

.nav-pills-wrap > li > a {
   margin-top: 5px;
   padding: 5px 10px;
}

.navbar-small {
   min-height: 25px;
}

.navbar-small .navbar-text {
   font-size: 0.8em;
   margin-bottom: 7px;
   margin-top: 7px;
}

.pull-center {
   text-align: center;
}

.popover {
   z-index: 1060;
}

.modal {
   overflow: hidden;
}

.modal-dialog {
   padding-top: 50%;
   transform: translate(0px, -50%);
   -webkit-transform: translate(0px, -50%);
}

.progress-popup {
   background-color: #fff;
   margin-bottom: 0px;
   opacity: 1;
}

.progress-bar.animate {
   width: 100%;
}

body {
   padding-top: 60px;
   padding-bottom: 30px;
}