.popover { max-width: 347px; }
.popover-content .row { margin-left: 0; }

.nav-pills-wrap > li > a {
   margin-top: 5px;
   padding: 5px 10px;
}

.navbar-small {
   min-height: 25px;
}

.navbar-small .navbar-text {
   font-size: 0.8em;
   margin-bottom: 7px;
   margin-top: 7px;
}

.pull-center {
   text-align: center;
}

.popover {
   z-index: 1060;
}

body {
   padding-top: 60px;
   padding-bottom: 30px;
}